<TITLE>New England Digital ABLE</TITLE>
The New England Digital ABLE instruction consists of a MOVE from a SOURCE to a DESTINATION.

<P>
With a <B>single instruction</B>, there are no opcode bits.
Source and destination fields are each coded in eight bits.
<P>
There are 16 general registers.
ALU operations are special destinations that operate on the first 4 registers (accumulators).
The PC is one of two registers: normally the PC is register 15 (17 octal).
During interrupt handling, the PC is register 14 (16 octal).
<p>
Memory is always word-addressed using a register.
Long immediates (and addresses) can be loaded via M[PC++], 
since the PC points to the word following the instruction.
<P>
There are 128 I/O addresses.
I/O transfers are synchronous - the processor stalls until the device is ready.
This can be avoided by testing device status.
I/O device 2 is a priority encoder (find first bit).
<P>
Although an assembler syntax is shown below, 
the ABLE was (is?) programmed almost exclusively in XPL.
All fields and register numbers here are in octal.

<P>
<CENTER>
<H2>INSTRUCTION FORMAT</H2>
<TABLE ALIG=CENTER BORDER=2>
<TR><TD>low byte</TD><TD>high byte</TD></TR>
<TR><TD>SOURCE</TD><TD>DESTINATION</TD></TR></TABLE>

<P>

<H2>SOURCE</H2>
<TABLE BORDER=2>
<TR>
<TD>bits</TD><TD>use</TD><TD>assembler</TD><TD>notes</TD>
</TR><TR>

</TR><TR>
<TD><TT>0-------</TT></TD><TD>Devices</TD><TD><TT>D0...D177</TT></TD><TD> </TD>
</TR><TR>
<TD><TT>00000010</TT></TD><TD>Priority Register</TD><TD><TT>D2</TT></TD><TD>not in model B</TD>
</TR><TR>
<TD><TT>00001000</TT></TD><TD>Last Program Counter</TD><TD><TT>D10</TT></TD><TD>not in model B</TD>
</TR><TR>

</TR><TR>
<TD><TT>10------</TT></TD><TD>Immediate</TD><TD><TT>IM</TT>(expression)</TD><TD>expr in -32...+31</TD>
</TR><TR>
<TD><TT>1100----</TT></TD><TD>Register</TD><TD><TT>R0...R17</TT></TD><TD></TD
</TR><TR>
<TD><TT>110i----</TT></TD><TD>Register then Increment</TD><TD><TT>R0i...R17i</TT></TD><TD>reg++</TD>
</TR><TR>
<TD><TT>1110----</TT></TD><TD>Memory Source</TD><TD><TT>MR0...MR17</TT></TD><TD>load M[reg]</TD>
</TR><TR>
<TD><TT>1111----</TT></TD><TD>Memory Source then Increment</TD><TD><TT>MR0i...MR17i</TT></TD><TD>load M[reg++]</TD>
</TR>
</TABLE>

<H2>DESTINATION</H2>
          
<TABLE BORDER=2>
<TR>
<TD>bits</TD><TD>use</TD><TD>assembler</TD><TD>notes</TD>
</TR><TR>

</TR><TR>
<TD><TT>0-------</TT></TD><TD>Devices</TD><TD><TT>D0...D177</TT></TD>
</TR><TR>
<TD><TT>0000010</TT></TD><TD>Encode Priority</TD><TD><TT>D2</TT></TD>
</TR><TR>
<TD><TT>0001000</TT></TD><TD>Repeat</TD><TD><TT>D10</TT></TD>
</TR><TR>

</TR><TR>
<TD><TT>100-----</TT></TD><TD>Arithmetic</TD><TD></TD><TD>acc op= SOURCE</TD>
</TR><TR>
<TD><TT>100000--</TT></TD><TD>Load</TD><TD><TT>LOA0...LOA3</TT></TD>
</TR><TR>
<TD><TT>100001--</TT></TD><TD>And</TD><TD><TT>(&) AND0...AND3</TT></TD>
</TR><TR>
<TD><TT>100010--</TT></TD><TD>Addition</TD><TD><TT>(+)</TT></TD>
</TR><TR>
<TD><TT>100011--</TT></TD><TD>Subtract</TD><TD><TT>(-)</TT></TD>
</TR><TR>
<TD><TT>100100--</TT></TD><TD>Exclusive Or</TD><TD><TT>(XOR)</TT></TD>
</TR><TR>
<TD><TT>100101--</TT></TD><TD>Rotate Left</TD><TD><TT>(ROL)</TT></TD>
</TR><TR>
<TD><TT>100110--</TT></TD><TD>OR</TD><TD><TT>(\)</TT></TD>
</TR><TR>
<TD><TT>100111--</TT></TD><TD>Load Compliment</TD><TD><TT>(NOT)</TT></TD>
</TR><TR>

</TR><TR>
<TD><TT>1010----</TT></TD><TD>Test</TD><TD></TD><TD>test acc op= SOURCE</TD>
</TR><TR>
<TD><TT>101000--</TT></TD><TD>Load & Test</TD><TD><TT>TLOA0...TLOA3</TT></TD>
</TR><TR>
<TD><TT>101001--</TT></TD><TD>And & Test</TD><TD><TT>TAND0...TAND3</TT></TD>
</TR><TR>
<TD><TT>101010--</TT></TD><TD>Add & Test</TD><TD><TT>TADD0...TADD3</TT></TD>
</TR><TR>
<TD><TT>101011--</TT></TD><TD>Subtract & Test</TD><TD><TT>TSUB0...TSUB3</TT></TD>
</TR><TR>

</TR><TR>
<TD><TT>101100--</TT></TD><TD>Byte Swap with Or</TD><TD><TT>BSOR0...BSOR3</TT></TD>
</TR><TR>
<TD><TT>101101--</TT></TD><TD>Shift Right with Add</TD><TD><TT>SHRA0...SHRA3</TT></TD>
</TR><TR>
<TD><TT>101110--</TT></TD><TD>Add with Carry</TD><TD></TD>
</TR><TR>
<TD><TT>101111--</TT></TD><TD>Subtract with Borrow</TD>
</TR><TR>

</TR><TR>
<TD><TT>1100----</TT></TD><TD>Register</TD><TD><TT>R0...R17</TT></TD><TD>reg = SOURCE</TD>
</TR><TR>

</TR><TR>
<TD><TT>11010---</TT></TD><TD>Conditional Transfer Absolute</TD><TD><TT>AT</TT></TD>
</TR><TR>
<TD><TT>11011---</TT></TD><TD>Conditional Transfer Relative</TD><TD><TT>RT</TT></TD>
</TR><TR>
<TD><TT>1101-000</TT></TD><TD>Always</TD><TD><TT>ATRA / RTRA</TT></TD>
</TR><TR>
<TD><TT>1101-100</TT></TD><TD>Never</TD><TD><TT>ATNV / RTNV</TT></TD>
</TR><TR>
<TD><TT>1101-001 </TT></TD><TD>Zero</TD><TD><TT>ATZE / RTZE</TT></TD>
</TR><TR>
<TD><TT>1101-101</TT></TD><TD>Non-zero</TD><TD><TT>ATNZ / RTNZ</TT></TD>
</TR><TR>
<TD><TT>1101-010</TT></TD><TD>Carry</TD><TD><TT>ATRC / RTRC</TT></TD>
</TR><TR>
<TD><TT>1101-110</TT></TD><TD>Non-carry</TD><TD><TT>ATNC / RTNC</TT></TD>
</TR><TR>
<TD><TT>1101-011</TT></TD><TD>Minus</TD><TD><TT>ATMI / RTMI</TT></TD>
</TR><TR>
<TD><TT>1101-111</TT></TD><TD>Non-minus</TD><TD><TT>ATPL / RTPL</TT></TD>
</TR><TR>

</TR><TR>
<TD><TT>1110----</TT></TD><TD>Memory Destination</TD><TD><TT>MR0...MR17</TT></TD><TD>M[reg] = SOURCE</TD>
</TR><TR>
<TD><TT>1111----</TT></TD><TD>Memory Destination then Inc</TD><TD><TT>MR0i-MR17i(ex.MR12)</TT></TD><TD>M[reg++] = SOURCE</TD>
</TR><TR>
<TD><TT>11111010</TT></TD><TD>Memory Destination then Dec</TD><TD><TT>MR12D</TT></TD><TD>M[R12--] = SOURCE</TD
</TR>
</TABLE> 


</CENTER>   

<P>
An attempt at re-implementation in VHDL is <A HREF="fable">here</A>.
It runs under <A HREF="http://ghdl.free.fr">GHDL</A>. 
On a Spartan 3 it occupies about 300 slices in addition to a BRAM for code/data.
Instructions execute in a minimum of 3 clocks.
The <A HREF="fable/fas">assembler</A> uses an idiosyncratic syntax and hexademimal notation.

