<TITLE>NED Able</TITLE>
<BODY>
<P>
<IMG SRC="fable.jpg" ALIGN=LEFT ALT="CPU RTL View">
The Able processor was designed in the mid-1970s for MSI components,
and first assembled by
New England Digital (no connection to DEC) 
in a converted barn in Norwich VT.

It was primarily used in embedded applications
for experiment control and network processing.
Its most successful application was in the
<A HREF="http://en.wikipedia.org/wiki/Synclavier">Synclavier</A>
digital synthesizer.

<P>
NED ceased operations in 1992,
although a Synclavier user consortium continued manufacturing for several years.

<P>
<IMG SRC="fable2.jpg" ALIGN=RIGHT ALT="CPU Routing View">
A re-implementation of the Able CPU in VHDL is
<A HREF=".">here</A>.
It synthesizes on a Xilinx Spartan 3C in about 300 slices
with a RAM for code and BRAM for data.
Instructions execute in a minimum of 3 clocks at up to 50Mhz.
It also simulates under <A HREF="http://ghdl.free.fr">GHDL</A>.

<H2>Processor</H2>

<H3>
Registers
</H3>
<IMG SRC="registers.jpg" ALIGN=RIGHT ALT="Registers RTL View">

The Able has sixteen 16-bit registers, <TT>r0</TT> ... <TT>rF</TT>.

The first four registers can be used as ALU destinations
for accumulator (two-operand) operations.
ALU operations set three condition codes, MINUS (negative), ZERO, and CARRY.
ALU tests set condition codes but do not update the registers.
<P>
The last two registers are used as program counters.
In normal operation <TT>rF</TT> is the PC.
During interrupt processing
<TT>rE</TT> is the PC.
Jumps modify the current PC.
If interrupts are enabled, <TT>rE</TT> should point to an interrupt handler,
which loops after exiting.
<P>
Registers can be post-incremented.
When used as a destination address,
<TT>rC</TT> is post-decremented instead,
making it useful as a stack pointer.

<H3>Memory</H3>
<IMG SRC="ram.jpg" ALIGN=RIGHT ALT="RAM RTL View">
Memory is 16 bits wide and word addressed.
Any register can address memory.
The address has  no offset, although the register can be post-incremented.
<P>
Addresses are 16 bits wide, with no address translation,
although late model Able processors included hardware mapping
to address several Gigawords.
<P>
Memory access are acknowledged, supporting a mix of different speeds of memory.

<H3>Devices</H3>
<IMG SRC="device.jpg" ALIGN=RIGHT ALT="GPIO RTL View">
Devices are directly addressed with 7-bit addresses.
Device registers are 16 bits wide, and may implement
arbitrary read/write behavior.
<P>
Device access is acknowledged.
Devices can also interrupt the processor,
with interrupt behavior is defined by the hardware.
<P>
The original Able processor used special devices for
program status, a priority encoder, and an instruction repeat mode.
The FPGA does not reproduce this.
It includes a simple PSW adequate to support interrupts.

<H3>Assembler</H3>
The NED Able was programmed entirely in
<A HREF="http://www.cs.toronto.edu/XPL/">XPL</A>,
using self-hosted and cross-compilers.
These notes use syntax for the simple assembler included
<A HREF="fas">here</A>. 
<P>
NED documentation uses a different assembler notation 
<A HREF="able.html">here</A>. 
XPL code could also generate any instruction as a combination of
<TT>WRITE() = READ()</TT> intrinsic functions.

<H2>Instruction</H2>
There is only one instruction, a word move.

<H3>Move source</H3>
The lower half of an instruction word specifies a move source.

<BLOCKQUOTE>
<TABLE BORDER=2>
<TR>
<TH>bits</TH> <TH>assembler</TH> <TH>use</TH>
</TR>

<TR>
<TD><TT>0-------</TT></TD> <TD><TT>d0</TT> ... <TT>d3F</TT> </TD>
<TD>devices</TD>
</TR>

<TR>
<TD><TT>10------</TT></TD> <TD><EM>n</EM></TD>
<TD>immediate value <TT>-20</TT> ... <TT>1F</TT></TD>
</TR>

<TR>
<TD><TT>1100----</TT></TD> <TD><TT>r0</TT> ... <TT>rF</TT></TD>
<TD>register</TD>
</TR>

<TR>
<TD><TT>1101----</TT></TD> <TD><TT>r0++</TT> ... <TT>rF++</TT></TD>
<TD>register post-increment</TD>
</TR>

<TR>
<TD><TT>1110----</TT></TD> <TD><TT>[r0]</TT> ... <TT>[rF]</TT></TD>
<TD>memory load from register address</TD>
</TR>

<TR>
<TD><TT>1111----</TT></TD> <TD><TT>[r0++]</TT> ... <TT>[rF++]</TT></TD>
<TD>memory load from post-incremented address</TD>
</TR>
</TABLE>
</BLOCKQUOTE>

16-bit immediate values are loaded from the instruction stream
using a PC post-increment source,
<TT>[rF++]</TT> (or <TT>[rE++]</TT> in interrupt code),
which addresses the word following an instruction and skips over it.

<H3>Move destination</H3>
The upper half of an instruction word specifies a move destination.
Special destinations include ALU operations and the current PC..

<BLOCKQUOTE>
<TABLE BORDER=2>
<TR>
<TH>bits</TH> <TH>assembler</TH> <TH>use</TH>
</TR>

<TR>
<TD><TT>0-------</TT></TD> <TD><TT>d0</TT> ... <TT>d3F =</TT></TD>
<TD>devices</TD>
</TR>

<TR>
<TD><TT>100-----</TT></TD>  <TD><TT>r0</TT> ... <TT>r3 <EM>op</EM>=</TT></TD>
<TD>set accumulator and conditions</TD>
</TR>

<TR>
<TD><TT>1010----</TT></TD>  <TD><TT>r0</TT> ... <TT>r3 <EM>op</EM>?</TT></TD>
<TD>test accumulator and set conditions</TD>
</TR>

<TR>
<TD><TT>1011----</TT></TD>  <TD><TT>r0</TT> ... <TT>r3 <EM>op</EM>=</TT></TD>
<TD>set accumulator and conditions</TD>
</TR>

<TR>
<TD><TT>1100----</TT></TD> <TD><TT>r0</TT> ... <TT>rF =</TT></TD>
<TD>register</TD>
</TR>

<TR>
<TD><TT>1101---</TT></TD>
<TD><TT><EM>jump</EM> <EM>op</EM>=</TT></TD>
<TD>conditional jumps</TD>
</TR>

<TR>
<TD><TT>1110----</TT></TD> <TD><TT>[r0]</TT> ... <TT>[rF] =</TT></TD>
<TD>memory store to register address</TD>
</TR>

<TR>
<TD><TT>1111----</TT></TD> <TD><TT>[r0++]</TT> ... <TT>[rF++] =</TT></TD>
<TD>memory store to post-incremented address</TD>
</TR>

<TR>
<TD><TT>11111010</TT></TD> <TD><TT>[rC--] =</TT></TD>
<TD>memory store to post-decremented address</TD>
</TR>
</TABLE>
</BLOCKQUOTE>

<H3>ALU</H3>
ALU operations use the first four registers, <TT>r0</TT> ... <TT>r3</TT>,
as two-operand accumulators.
The ALU result sets minus (<TT>m</TT>) and zero (<TT>z</TT>) condition codes.
Add and subtract set carry (<TT>c</TT>) from the carry-out.
Rotate and shift set carry from the bit shifted out.

<BLOCKQUOTE>
<TABLE BORDER=2>
<TR>
<TH>bits</TH> <TH>assembler</TH> <TH>use</TH>
</TR>

<TR>
<TD><TT>100000--</TT></TD> <TD><TT>r0</TT> ... <TT>r3 :=</TT></TD>
<TD><TT><EM>acc</EM> = <EM>source</EM></TT></TD>
</TR>

<TR>
<TD><TT>100001--</TT></TD> <TD><TT>r0</TT> ... <TT>r3 &amp;=</TT></TD>
<TD><TT><EM>acc</EM> &amp;= <EM>source</EM></TT></TD>
</TR>

<TR>
<TD><TT>100010--</TT></TD> <TD><TT>r0</TT> ... <TT>r3 +=</TT></TD>
<TD><TT><EM>acc</EM> += <EM>source</EM></TT></TD>

</TR>

<TR>
<TD><TT>100011--</TT></TD> <TD><TT>r0</TT> ... <TT>r3 -=</TT></TD>
<TD><TT><EM>acc</EM> -= <EM>source</EM></TT></TD>
</TR>

<TR>
<TD><TT>100100--</TT></TD> <TD><TT>r0</TT> ... <TT>r3 ^=</TT></TD>
<TD><TT><EM>acc</EM> ^= <EM>source</EM></TT></TD>
</TR>

<TR>
<TD><TT>100101--</TT></TD> <TD><TT>r0</TT> ... <TT>r3 &lt;=</TT></TD>
<TD> <TT><EM>acc</EM> = ROL(<EM>acc</EM>,1)</TT> </TD>
</TR>

<TR>
<TD><TT>100110--</TT></TD> <TD><TT>r0</TT> ... <TT>r3 |=</TT></TD>
<TD><TT><EM>acc</EM> |= <EM>source</EM></TT></TD>
</TR>

<TR>
<TD><TT>100111--</TT></TD> <TD><TT>r0</TT> ... <TT>r3 ~=</TT></TD>
<TD><TT><EM>acc</EM> = ~<EM>source</EM></TT></TD>
</TR>

<TR></TR>

<TR>
<TD><TT>101100--</TT></TD> <TD><TT>r0</TT> ... <TT>r3 %=</TT></TD>
<TD> <TT><EM>acc</EM> = ROL(<EM>acc</EM>,8)|<EM>source</EM></TT> </TD>
</TR>

<TR>
<TD><TT>101101--</TT></TD> <TD><TT>r0</TT> ... <TT>r3 &gt;=</TT></TD>
<TD> <TT><EM>acc</EM> = SHR(<EM>acc</EM>,1)+<EM>source</EM></TT> </TD>
</TR>

<TR>
<TD><TT>101110--</TT></TD> <TD><TT>r0</TT> ... <TT>r3 +c=</TT></TD>
<TD><TT><EM>acc</EM> += <EM>source</EM>+c</TT></TD>
</TR>

<TR>
<TD><TT>101111--</TT></TD> <TD><TT>r0</TT> ... <TT>r3 -c=</TT></TD>
<TD><TT><EM>acc</EM> -= <EM>source</EM>+c</TT></TD>
</TR>

</TABLE>
</BLOCKQUOTE>

<P>
Test operations use the first four registers as operands.
Test operations set condition codes but do not update accumulators.

<BLOCKQUOTE>
<TABLE BORDER=2>

<TR>
<TD><TT>101000--</TT></TD> <TD><TT>r0</TT> ... <TT>r3 :?</TT></TD>
<TD><TT><EM>source</EM></TT></TD>
</TR>

<TR>
<TD><TT>101001--</TT></TD> <TD><TT>r0</TT> ... <TT>r3 &amp;?</TT></TD>
<TD><TT><EM>acc</EM> &amp; <EM>source</EM></TT></TD>
</TR>

<TR>
<TD><TT>101010--</TT></TD> <TD><TT>r0</TT> ... <TT>r3 +?</TT></TD>
<TD><TT><EM>acc</EM> + <EM>source</EM></TT></TD>
</TR>

<TR>
<TD><TT>101011--</TT></TD> <TD><TT>r0</TT> ... <TT>r3 -?</TT></TD>
<TD><TT><EM>acc</EM> - <EM>source</EM></TT></TD>
</TR>
</TABLE>
</BLOCKQUOTE>

<H3>Jumps</H3>
Jumps set the current PC,
<TT>rF</TT>, or <TT>rE</TT> during interrupts.

<BLOCKQUOTE>

<TABLE BORDER=2>
<TR>
<TD><TT>11010---</TT></TD>
<TD><TT><EM>jump</EM> :=</TT></TD>
<TD>jump absolute</TD>
</TR>
<TR>
<TD><TT>11011---</TT></TD>
<TD><TT><EM>jump</EM> +=</TT></TD>
<TD>jump relative</TD>
</TR>
</TABLE>

<P>
<TABLE BORDER=2>
<TR>
<TD><TT>1101-0--</TT></TD>
<TD><TT>j</TT></TD>
<TD>jump if true</TD>
</TR>
<TR>
<TD><TT>1101-1--</TT></TD>
<TD><TT>jn</TT></TD>
<TD>jump if false</TD>
</TR>
</TABLE>

<P>
<TABLE BORDER=2>
<TR>
<TD><TT>1101--00 </TT></TD>
<TD><TT></TT></TD>
<TD>always</TD>
</TR>
<TR>
<TD><TT>1101--01 </TT></TD>
<TD><TT>z</TT></TD>
<TD>if zero</TD>
</TR>
<TR>
<TD><TT>1101--10</TT></TD>
<TD><TT>c</TT></TD>
<TD>if carry</TD>
</TR>
<TR>
<TD><TT>1101--11</TT></TD>
<TD><TT>m</TT></TD>
<TD>if minus</TD>
</TR>
</TABLE>

</BLOCKQUOTE>

Unconditional absolute jumps can also be achieved by a move to the current PC.

<H3>Interrupts</H3>

Interrupt support is optional.
The Able included a Program Status Word at device 1
for interrupt control and status, which 
included the interrupt state of each peripheral device capable of interrupts.
<P>
<IMG SRC="psw.jpg" ALIGN=RIGHT ALT="PSW RTL View">
This implementation includes an optional PSW as device 1,
but, because the device interface and possible interrupt sources are different,
it does not provide the same behavior.
Interrupts are edge-triggered from any device.
Software is responsible for polling devices to demultiplex interrupts.

<BLOCKQUOTE>
<TABLE BORDER=2>
<TR>
<TH>bits 15 - 6</TH>
<TH>5</TH><TH>4</TH><TH>3</TH><TH>2</TH><TH>1</TH><TH>0</TH>
</TR>
<TR>
<TD>unused</TD>
<TD><TT>I</TT></TD>
<TD><TT>Q</TT></TD>
<TD><TT>E</TT></TD>
<TD><TT>M</TT></TD>
<TD><TT>C</TT></TD>
<TD><TT>Z</TT></TD>
</TR>
</TABLE>
</BLOCKQUOTE>
<P>
The PSW includes the ALU condition codes
(<TT>M</TT>, <TT>C</TT>, and <TT>Z</TT>)
so that they can be saved on interrupt entry and restored on exit.
The interrupt enable bit, <TT>E</TT>, is initially clear.
The interrupt PC (<TT>rE</TT>) should be initialized before setting <TT>E</TT>.
<TT>Q</TT> indicates that an interrupt is pending.
Setting this bit causes an interrupt.
Clearing it has no effect.
<TT>I</TT> is set when the CPU is executing an interrupt handler
using <TT>rE</TT> as the PC.
This bit cannot be set or cleared.
Instead, writing the PSW causes the CPU to exit interrupt service
and revert to using <TT>rF</TT> as the PC.
