

<H2>Assembler</H2>

This is a one-pass assembler with label reference fixup.
<P>
The original NED Able was programmed entirely in XPL.
The FPGA version uses this simple assembler to generate code as a VHDL package
defining a constant <TT>code</TT> array.

<H3>Options</H3>
Assembler options are
<BLOCKQUOTE>
<TABLE BORDER=2>
<TR>
<TH>option</TH> <TH>default</TH> <TH>use</TH>
</TR>

<TR>
<TD><TT>--name</TT> <EM>name</EM></TD> <TD><TT>CODE</TT></TD> <TD>set package name</TD>
</TR>

<TR>
<TD><TT>--size</TT> <EM>count</EM></TD> <TD><TT>128</TT></TD> <TD>set <TT>code</TT> range</TD>
</TR>

<TR>
<TD><TT>--fill</TT> <EM>expression</EM></TD>  <TD><TT>(others=&gt;'U')</TT></TD> <TD>set <TT>code</TT> fill</TD>
</TR>

<TR>
<TD><TT>--loc</TT> <EM>address</EM></TD>  <TD><TT>0</TT></TD> <TD>set <TT>code</TT> base address</TD>
</TR>

<TR>
<TD><TT>--def</TT> <EM>label</EM> <EM>address</EM></TD>  <TD></TD> <TD>define label</TD>
</TR>

</TABLE>
</BLOCKQUOTE>

<H3>Numbers</H3>
All numbers are hexadecimal. Numbers must start with a digit.
<TT>0D</TT> is a number, but <TT>D0</TT> is device 0.

<H3>Labels</H3>

The assembler supports symbolic labels for addresses.
A label must begin with a letter and consists of letters and digits.
Labels can be used for 16-bit values, as an address or a data word.
Labels cannot be used for 5-bit immediate values, nor for registers or devices.

<BLOCKQUOTE>
<TABLE BORDER=2>
<TR>
<TH>assembler</TH> <TH>use</TH>
</TR>

<TR>
<TD><TT>:<EM>label</EM></TT></TD> <TD>define <EM>label</EM> as current location</TD>
</TR>

<TR>
<TD><TT>=<EM>label</EM></TT></TD> <TD>insert <EM>label</EM> reference at current location</TD>
</TR>

<TR>
<TD><TT>=<EM>value</EM></TT></TD> <TD>insert <EM>value</EM> at current location</TD>
</TR>

<TR>
<TD><TT>=</TT></TD> <TD>skip current location</TD>
</TR>

<TR>
<TD><TT>@<EM>value</EM></TT></TD> <TD>set current location to <EM>value</EM></TD>
</TR>
</TABLE>
</BLOCKQUOTE>
